@tailwind base;
@tailwind components;
@tailwind utilities;

/* Draggable region */
.titlebar {
  -webkit-app-region: drag;
  height: 30px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}
